* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    overflow: hidden;
}

#menu {
    height: 100%;
    background-color: #ccc;
    flex: 0 0 300px;
}

#theater {
    height: 100%;
    background-color: black;
    flex: 1;
    order: 1;
}

#theater canvas {
    width: 100%;
}

button.svelte-jqme5u{position:absolute;width:40px;height:40px;top:0px;left:0px;font-size:26px;line-height:30px}.expanded.svelte-jqme5u{left:260px}
h1.svelte-1qi5yee{color:purple}.hidden.svelte-1qi5yee{display:none}.config-block.svelte-1qi5yee{padding-bottom:10px;display:flex;justify-content:space-between}
